# Virtual Environment
.venv/
env/
venv/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Local data & logs
data/
*.log
.system_generated/

# OS and Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
